{% extends "base.html" %}
{% load static %}

{% block title %}
    Hard Mode - PI Helper
{% endblock %}

{% block extra_js %}
    <script src="{% static 'js/hard_mode.js' %}" defer></script>
{% endblock %}

{% block content %}

    <h1>Hard Mode</h1>

    <p>Lives: <span id="lives">1</span></p>

    <p>Start digit: {{ start_digit }}</p>
    <p>End digit: {{ end_digit }}</p>

    <p>Time: <span id="timer">0.000</span> s</p>

    {% if best_time %}
        <p>
            Best time:
            <span
                id="best-time"
                data-time="{{ best_time.best_time_ms }}"
            ></span>
        </p>
    {% endif %}

    <p id="entered-digits"></p>

    <input
        type="text"
        id="digit-input"
        maxlength="1"
        autofocus
    >

    <a href="{% url 'challenge' %}">New Challenge</a>
    <a href="{% url 'home' %}">Back to home</a>

    <div
        id="hard-mode-data"
        data-start-digit="{{ start_digit }}"
        data-pi-digits="{{ pi_digits }}"
        data-end-digit="{{ end_digit }}"
        data-finish-url="{% url 'finish_hard_mode' %}"
        data-csrf-token="{{ csrf_token }}"
    ></div>

{% endblock %}