{% extends "accounts_base.html" %}
{% load static %}

{% block title %}
    Register - PI Helper
{% endblock %}

{% block extra_js %}
    <script src="{% static 'js/register.js' %}" defer></script>
{% endblock %}

{% block account_content %}

    <h1>Register</h1>

    <form method="post">
        {% csrf_token %}

        {{ form.as_p }}

        <button type="submit">Register</button>
    </form>

    <div
        id="register-data"
        data-check-username-url="{% url 'check_registration_username' %}"
    ></div>

    <p>
        Already have an account?
        <a href="{% url 'login' %}">Login</a>
    </p>

{% endblock %}